@{
    ViewData["Title"] = "Home Page";
}

<style>
    .container
    {
        margin-top: 0%;
        height:50%;
    }
    h2
    {
        margin-top: 20%;
        margin-left: 35%;
        font-size: larger;
        margin-left:0%;
        width:100%; 
        text-align: center;
    }
</style>
<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <h2>Sistema de registro de enfermedades</h2>
    </body>
</html>
