@{
    ViewData["Title"] = "Home Page";
}

<style>
    h2
    {
        margin-top: 20%;
        margin-left: 35%;
        font-size: larger;
        margin-left:0%;
        width:100%; 
        text-align: center;
    }

</style>
<h2>Sistema de registro de enfermedades</h2>
